<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>강정택 사이트</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">


    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">

</head>
<body>
<div class="row-cols-2 d-flex justify-content-center" id="container">
    <div class="row" id="card">
        <div class="col-8 flex-nowrap text-nowrap">
            <div class="text-info-emphasis mt-3 ms-3">
                자기소개 웹 페이지
            </div>
        </div>
        <div class="col-4 flex-nowrap text-nowrap">여기에는 아이콘이 들어갈 것입니다</div>
    </div>
</div>


    <script src="/script/script.js"></script>
    <script src="/bootstrap/script/bootstrap.min.js"></script>
</body>
</html>