<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>강정택 사이트</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">


    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">

</head>
<body>
<div class="row-cols-2 d-flex justify-content-center" id="container">
    <div class="row" id="card">
        <div class="col-8" id="left-card">
            <div class="mt-3 ms-3">
                <p class="fs-1 fw-bold">강정택</p>
                <hr>
            </div>
            <p class="fs-4 text-white flex-nowrap">안녕하세요. 개발자를 꿈꾸고 있는 강정택입니다.</p>
        </div>
        <div class="col-4 text-nowrap" id="right-card">여기에는 아이콘이 들어갈 것입니다</div>
    </div>
</div>


    <script src="/script/script.js"></script>
    <script src="/bootstrap/script/bootstrap.min.js"></script>
</body>
</html>